body {
    background-color: #39a4d6;
    font-family: 'Noto Serif', serif;
}
#sitetitle > h1 {
    font-size:65px;
    font-family: 'Noto Serif', serif;
    display:inline;
    text-align:center;
    padding-left:15%;    
}

h2 {
    font-size:45px;
    font-family: 'Noto Serif', serif;
    text-align:center;
}

div.bad {
    font-size: 30px;
    color: red;
}

#navigation {
    text-align:center;
}
#navigation > ol, #navigation > ol > li {
    font-size:30px;
    list-style-type:none;
    display:inline-block;
    text-align:center;
    margin-left: 30px;
}

#content {
    border: 2px solid #219ed6;
    border-style:outset;
    border-radius: 10px;
    background-color: #FFFFFF;
    clear: right;
    padding: 30 30;
    margin: 0 30;
    font-size: 25px;
    min-height: 50%;
    position:relative;

}

#sitetitle > #sitelogo {
    height: 65px;
}

.active {
    color: orange;
}

#footer {
    margin:auto;
    width: 50%;
    padding: 10px;
    clear:both;
    position: absolute;
    bottom: 0;
}


table {
    border-collapse: collapse;
    margin: 15 0;
}

table, th, td {
    border: 3px solid #cccccc;
}


th {
    background-color: #aaaaaa;
}

td {
    font-size: 15px;
    padding: 10 13;
}
#formwrapper {
    display:block;
    width:100%;
    text-align: center;
}
form {
    padding: 20px;
    background: #ffffff;
    color: black;
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    width:33%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  form label,
  form input,
  form button {
    border: 3px;
    margin-bottom: 3px;
    width: 100%;
    display: block;
  }
  form input[type = text] {
    border: 2px solid black;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
    background: #ffffff;
    color: #000;
    padding: 0 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  form input[type = submit] {
    font-family: 'Noto Serif', serif;
    font-size: x-large;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
    background: #219ed6;
    color: #000;
    padding: 0 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  form button {
    height: 30px;
    line-height: 30px;
    background: #e67e22;
    color: #e67e22;
    margin-top: 10px;
    cursor: pointer;
  }
form .error {
    color: #ff0000;
  }



